<table class="table-info">
    <tbody>
        <tr>
            <td>Référence:</td>
            <td><span class="flight_ref">{{ departure.reference }}</span></td>
        </tr>
        <tr>
            <td>Fusée:</td>
            <td><span class="list_rocket_name">{{ departure.rocket }}</span></td>
        </tr>
        <tr>
            <td>Date:</td>
            <td><span class="list_date">{{ departure.date|format_date('long', locale='fr') }}</span></td>
        </tr>
        <tr>
            <td>Heure:</td>
            <td><span class="list_time">{{ departure.date|date('H:i') }}</span></td>
        </tr>
        <tr>
            <td>Durée:</td>
            <td><span class="list_hour">{{ departure.duration }}h de vol</span></td>
        </tr>
        <tr>
            <td>Prix:</td>
            <td><span class="price">{{ departure.price|number_format(2, '.', ',') }} €</span></td>
        </tr>
    </tbody>
</table>
