{{ form_start(form) }}
<div class="flex">
    <div class="left_zone">
        {{ form_row(form.pictureFiles) }}
        <div class="flex">
            <div class="left_zone">
            {% if location.pictureHeader %}
                <img src="{{ asset('./images/location/' ~ location.pictureHeader) }}"></img>
            {% endif %}
            </div>
            <div class="right_zone">
                {{ form_row(form.headerPictureFile) }}
            </div>
        </div>
    </div>
     <div class="right_zone">
        {{ form_row(form.title) }}
        {{ form_row(form.shortDescription) }}
        {{ form_row(form.slug) }}
    </div>
</div>
{{ form_label(form.description) }}
<div id="quill-editor" style="min-height:220px; margin-bottom:1rem;"></div>
{{ form_widget(form.description, {'attr': {'id': 'location_description', 'style': 'display:none'}}) }}

<script>
document.addEventListener('DOMContentLoaded', function () {
    var quill = new Quill('#quill-editor', {
        theme: 'snow',
        placeholder: 'Description de la destination…',
        modules: {
            toolbar: [
                ['bold', 'italic', 'underline'],
                [{ 'header': [2, 3, false] }],
                [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                ['clean']
            ]
        }
    });

    var textarea = document.getElementById('location_description');
    if (textarea.value) {
        quill.root.innerHTML = textarea.value;
    }

    textarea.closest('form').addEventListener('submit', function () {
        textarea.value = quill.root.innerHTML;
    });
});
</script>
{{ form_rest(form) }}
<div class="flex_between">
    <a class="btn_back"href="{{ path('location.index') }}">Retour</a>
    <div class="flex">
        <button class="btn_save">{{ button_label|default('Sauvegarder') }}</button> 
        {{ form_end(form) }}
        {% if location.id %}
            {{ include('admin/location/_delete_form.html.twig') }}
        {% endif %}
    </div>
</div>
