{{ form_start(formSearch, {'action': path('search.flight')}) }}
<div class="date">
    <div class="field">
        {{ form_label(formSearch.departure) }}
        <div>
            <i class="fa-regular fa-calendar ico_fa"></i>
            {{ form_widget(formSearch.departure) }}
        </div>
    </div>
    <div class="field">
        {{ form_label(formSearch.returned) }}
        <div>
            <i class="fa-regular fa-calendar ico_fa"></i>
            {{ form_widget(formSearch.returned) }}
        </div>
    </div>
    <div class="field">
        {{ form_label(formSearch.passagers) }}
        <div>
            <i class="fa-solid fa-users ico_fa"></i>
            {{ form_widget(formSearch.passagers) }}
        </div>
    </div>
</div>
<button type="submit" class="btn_primary">Recherche</button>
{{ form_end(formSearch) }}