{{ form_start(searchForm, {'action': path('search.flight')}) }}
<div class="field">
    {{ form_label(searchForm.destination) }}
    <div>
        <i class="fa-solid fa-earth-americas ico_fa"></i>
        {{ form_widget(searchForm.destination) }}
    </div>
</div>
<div class="field">
    {{ form_label(searchForm.departure) }}
    <div>
        <i class="fa-regular fa-calendar ico_fa"></i>
        {{ form_widget(searchForm.departure) }}
    </div>
</div>
<div class="field">
    {{ form_label(searchForm.returned) }}
    <div>
        <i class="fa-regular fa-calendar ico_fa"></i>
        {{ form_widget(searchForm.returned) }}
    </div>
</div>
<div class="field">
    {{ form_label(searchForm.passagers) }}
    <div>
        <i class="fa-solid fa-users ico_fa"></i>
        {{ form_widget(searchForm.passagers) }}
    </div>
</div>
<button type="submit" class="btn_primary" id="search-submit-btn">
    <span id="search-btn-label">RECHERCHE</span>
    <span id="search-btn-loader" style="display:none;">
        <i class="fa-solid fa-spinner fa-spin"></i>
    </span>
</button>
{{ form_end(searchForm) }}